.awesome
    display grid
    text-align center
    font-family font_family_one
    font-size font_size_paragraph
.awesome_title
    padding 2rem
    font-size font_size_title
.awesome_text
    padding 2rem
.awesome_item
    margin 3rem
.awesome_item-title, .awesome_item-text
    color color_secundary
    margin 1rem 0
.icon
    flex_center()
    width 6rem
    height 6rem
    margin 0 auto
    font-size font_size_title
    color color_primary
    border solid .2rem
    border-radius 3rem