.contact
    display grid
    text-align center
    font-family font_family_one
    font-size font_size_paragraph
.contact_title
    margin 3rem
.contact_text
    margin 0 3rem
.contact_form
    padding 2rem
    input, textarea
        width 80%
        padding 1rem 2rem
        border none
        border-bottom solid .2rem alpha(color_secundary, 20%)
        &::placeholder
            font-family font_family_one
    textarea
        resize none
.contact_button
    background color_primary