.footer
    flex_center()
    padding 2rem 0
    flex-direction column
    background color_dark
    text-align center
    font-family font_family_one
    font-size font_size_paragraph
    color color_light
.footer_socialMedia
    width 100%
    display flex
    justify-content space-evenly
    a
        color color_light
    i
        font-size font_size_title + .5rem
.footer_copy
    margin-top 1rem
    font-size 1rem
    font-weight 400