*
    margin 0
    padding 0
    box-sizing border-box
    list-style none
    text-decoration none
    &::first-letter
        text-transform uppercase
html
    font-size 62.5%
.btn
    max-height 4rem
    background rgba(0,0,0,0)
    color #ffffff
    margin 2rem 0
    padding 1rem
    border solid .2rem
    justify-self center
    cursor pointer
    &:hover
        transform scale(1.1)
    &:active
        transform scale(.9)
.border_orange
    display inline-block
    width 4rem
    border solid 2px color_primary