.stylish
    background-image url('../images/bg_stylish.jpg')
    background-repeat no-repeat
    background-position: center
    background-size: cover
    font-family font_family_one
    font-size font_size_paragraph
    color color_light
    text-align center
.stylish_title, .stylish_text
    padding 2rem
    font-weight 400