color_primary = #f08336
color_secundary = #333333
color_dark = #000
color_light = #fff

font_family_one = 'Open sans', 'Sans serif', 'system-ui'
font_size_title = 2.4rem
font_size_subtitle = 1.9rem
font_size_paragraph = 1.6rem

flex_center()
    display flex
    justify-content center
    align-items center